.textbox {
	position: relative;
	margin: 15px;
	width: 250px;
	height: 60px;
	padding: 10px;
	border-radius: 5px;
	letter-spacing: 1px;
	border: 5px solid #80808033;
	font-family: Arial, sans-serif;
	box-shadow: 0 0 0 3px #80808088;
	animation: bounce 0.3s linear alternate-reverse infinite;
}

.textbox:hover {
	cursor: pointer;
	transform: scale(1.01);
	transition: all 0.1s ease;
}

@keyframes bounce {
	from {
		transform: none;
	}

	to {
		box-shadow: 0 0 0 3px #80808033;
	}
}
