html,
body {
	margin: 0;
	padding: 0;
	width: 100vw;
}

.app {
	display: flex;
	width: 100vw;
	height: 100vh;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.flex {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.textbox {
	position: relative;
	margin: 20px;
	width: 300px;
	height: 50px;
	padding: 10px;
	line-height: 16px;
	border-radius: 5px;
	border: 5px solid #80808033;
	font-family: Arial, sans-serif;
	box-shadow: 0 0 0 3px #80808088;
	animation: bounce 0.7s linear alternate-reverse infinite;
}

.textbox::before {
	content: "";
	right: 9px;
	bottom: 7px;
	width: 0;
	height: 0;
	position: absolute;
	border-top: 8px solid #808080aa;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	animation: bounceArrow 0.7s linear alternate-reverse infinite;
}

@keyframes bounce {
	from {
		transform: none;
	}

	to {
		box-shadow: 0 0 0 3px #80808033;
	}
}

@keyframes bounceArrow {
	from {
		transform: none;
	}

	to {
		border-top: 8px solid #80808033;
	}
}
