* {
	font-family: "Ubuntu Mono";
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100vw;
}

.app {
	display: flex;
	width: 100vw;
	height: 100vh;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.flex {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}

@keyframes bounce {
	from {
		transform: none;
	}

	to {
		box-shadow: 0 0 0 3px #80808033;
	}
}

@keyframes bounceArrow {
	from {
		transform: none;
	}

	to {
		border-top: 8px solid #80808033;
	}
}
